{% extends "base_generic.html" %}

{% block title %}{{ profile.user.get_full_name }} | user profile{% endblock %}
{% block mainheading %}{{ profile.user.get_full_name }}{% endblock %}

{% block content %}

<h2>Personal info</h2>

<img src="/static/{{ profile.avatar.url }}" alt="avatar" />

<ul>
    <li>nick: {{ profile.user.username }}</li>
    <li>sex:
    {% if profile.sex == "f" %}
        <span class="sex female">♀</span>
    {% else %}
        <span class="sex male">♂</span>
    {% endif %}
    </li>
</ul>

<h2>Bouquets received</h2>

{% if bouquets %}
    {% for b in bouquets %}
        <p>
            from {{ b.sender.user.get_full_name }}:
            {% for f in b.flower_set.all %}
                {{f.flower_type.pretty_name}}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endfor %}
{% else %}
    <p>{{ profile.user.first_name }} hasn't received any bouquets yet.</p>
{% endif %}

{% endblock %}