<h1>{{ profile.user.get_full_name }}</h1>

<h2>Personal info</h2>

<ul>
    <li>nick: {{ profile.user.username }}</li>
    <li>sex:
    {% if profile.sex == "f" %}
        <span class="sex">♀</span>
    {% else %}
        <span class="sex">♂</span>
    {% endif %}
    </li>
</ul>

<h2>Bouquets received</h2>

{% if bouquets %}
    {% for b in bouquets %}
        <p>
            from {{ b.sender.user.get_full_name }}:
            {% for f in b.flower_set.all %}
                {{f.flower_type.pretty_name}}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endfor %}
{% else %}
    <p>{{ profile.user.first_name }} hasn't received any bouquets yet.</p>
{% endif %}

<a href="/flowers/users">all users</a>