{% load static %}
<!doctype html>
    
<html>
<head>
    <title>{% block title %}{% endblock %} | flowergarden</title>
    
    <link rel="stylesheet" type="text/css" href="{% static "css/flowers.css" %}"/>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <span class="sitetitle"><a href="{% url homepage.views.home %}">flowergarden</a></span>
        </div>
        
        
        <h1>{% block mainheading %}{% endblock %}</h1>
        
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>