{% load static %}
<!doctype html>
    
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | flowergarden</title>
    
    <link rel="stylesheet" type="text/css" href="{% static "css/flowers.css" %}">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <span class="sitetitle"><a href="{% url homepage.views.home %}">flowergarden</a></span>
            <span id="navigation">
                <a href="{% url users.views.list %}">All users</a>
                <a href="">Log in</a> or <a href="{% url users.views.create %}">Create account</a>
            </span>
        </div>
        
        {% block mainheading_block %}
            <h1>{% block mainheading %}{% endblock %}</h1>
        {% endblock %}
        
        {% if error_message %}
            <div class="error-message">
                {{ error_message }}
            </div>
        {% endif %}
        
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>