{% extends "base_generic.html" %}

{% block title %}flowergarden{% endblock %}
{% block mainheading_block %}{% endblock %}

{% block content %}
    <div>
        <h2>New bouquets</h2>
        {% if new_bouquets %}
            {% for b in new_bouquets %}
                {{ b.sender.user.username }}
                gave a bouquet to
                {{ b.receiver.user.username }}
                ({{ b.given|time:"H:i" }})
            {% endfor %}
        {% else %}
            <p>
                What? No new bouquets? Go and give someone flowers!
            </p>
        {% endif %}
    </div>
    
    <div>
        <h2>New users</h2>
        <p>
            Welcome our new users by a flower-gift:
        </p>
        <p>
            {% for u in new_users %}
                <a href="{% url users.views.detail u.user.id %}">{{ u.user.username }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    </div>
{% endblock %}